<div class="new-report">
  <%= render "shared/sub-header" %>
  <main class="register-main">
    <div class="register-box">
      <h2 class="user-register">Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <div class="register-name">名前</div>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder:"名前", class:"signup-name" %>
        </div>

        <div class="field">
        <div class="register-email">Email</div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"PC・携帯どちらでも可", class:"signup-email"  %>
        </div>

        <div class="field">
        <div class="register-password">パスワード</div>
          <%= f.password_field :password, autocomplete: "new-password", placeholder:"パスワード(6文字以上の半角英数字)", class:"signup-password"  %>
        </div>

        <div class="field">
        <div class="register-confirmation">パスワード（確認）</div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード確認",class:"signup-password"  %>
        </div>

        <div class="field">
        <div class="register-position">所属</div>
          <%= f.text_field :position, autofocus: true, placeholder:"所属", class:"signup-position"  %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class:"signup-btn" %>
        </div>
      <% end %>
    </div>
  </main>
  <%= render "shared/footer"%>
</div>
