<header>
  <div class='top-page-header'>
    <h1><%= link_to 'ReportApp', root_path, class:'app-name' %></h1>
    <%= image_tag("header.jpg",class:"header-image") %>
  </div>  
  
  <div class='second-bar'>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>

    <ul class='lists-right'>  
      <% if user_signed_in? %>
        <li><%= link_to current_user.name, "/users/#{current_user.id}", class: "user-nickname" %></li>
        <li><button><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></button></li>
      <% else %>
        <li><button><%= link_to 'ログイン', new_user_session_path, class: "login" %></button></li>
        <li><button><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></button></li>
      <% end %>
    </ul>
  </div>
</header>