<div class="new-report">
  <%= render "shared/sub-header" %>
  <main class="login-main">
    <div class="login-box">
      <h2 class="user-login">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <div class="register-email">Email</div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "signup-email" %>
        </div>

        <div class="field">
          <div class="register-password">パスワード</div>
          <%= f.password_field :password, autocomplete: "current-password", class:"signup-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Log in", class:"login-btn" %>
        </div>
      <% end %>
    </div>
  </main>
  <%= render "shared/footer"%>
</div>
