<div class="new-report">
  <header><%= render "shared/sub-header" %></header>

  <div class="new-main">
    <%= form_with model: @report, local: true do |f| %>
      <div class="report-box">
        <h1 class="new-top-title">Edit Report</h1>
        <%= render 'shared/error_messages', model: f.object, resource: @report %>
        <div class="new-nav">日付</div>
        <%= f.date_field :date, class:"new-date", placeholder:"年/月/日"%>
        <div class="new-nav">書式</div>
        <%= f.collection_select(:format_id, Format.all, :id, :name, {}, {class:"select-box"}) %>
        <div class="new-nav">カテゴリー</div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box"}) %>
        <div class="new-nav">タイトル</div>
        <%= f.text_field :title, class:"new-title", placeholder:"15文字以内", maxlength:"15" %>
        <div class="new-nav">件名</div>
        <%= f.text_area :headline, class:"new-headline", placeholder:"140文字以内", maxlength:"140" %>
        <div class="new-nav">本文</div>
        <%= f.text_area :text, class:"new-text", placeholder:"1000文字以内", maxlength:"1000", row:"7" %>
        <div class="new-nav">提出先</div>
        <select name="report[receiver]", class="new-receiver">
          <option value="">提出先を選択してください</option>
          <% User.where.not(id: current_user.id).each do |user| %>
            <option value=<%=user.name %>><%= user.name %></option>
          <% end %>
        </select>
        <%= f.submit "保存" ,class:"btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>