<%= render "shared/header" %>

<div class="main">
  <div class="main-title">Report List</div>

  <ul class="report-lists">
    <%= render partial: "report", collection: @reports %>
  </ul>
  
  <% if user_signed_in? %>
    <div class="sub-title">Report to You</div>
    <ul class="report-lists">
    <% @reports.each do |report| %>
      <% if report.receiver == current_user.name%>
        <%= render partial: "report", locals: { report: report }%>
      <% end%>
    <% end %>

    <%= link_to(new_report_path, class: "post-btn") do %>
    <span class="btn-text">New Report</span>
    <% end %>
  <% end %>
</div>

<%= render "shared/footer" %>
